$desktop: 1240;
$mid: 992;
$sm: 768;
$xs: 480;
$fw: 500;

// =======================
// Fonts
// =======================
$jost: "Jost", sans-serif;
$anek: "Anek Gujarati", sans-serif;
$tajawal: "Tajawal", sans-serif;
$gulzar: "Gulzar", serif;

// =======================
// Base Colors
// =======================
$white: #FFFFFF;
$black: #212121;
$gold: #FFD700;
$red: #D32F2F;
$light-bg: #f9fafb;
$border-color: rgba(0,0,0,.08);





@mixin MediaQuery($min, $max) {
    @media all and (min-width:#{$min}px) and (max-width:#{$max}px) {
        @content;
    }
}

@mixin MinQuery($min) {
    @media (min-width:#{$min}px) {
        @content;
    }
}

@mixin MaxQuery($max) {
    @media (max-width:#{$max}px) {
        @content;
    }
}

@mixin MinHQuery($min) {
    @media (min-height:#{$min}px) {
        @content;
    }
}

@mixin MaxHQuery($max) {
    @media (max-height:#{$max}px) {
        @content;
    }
}

@mixin gen() {
    float: left;
    width: 100%;
    height: auto;
}

@mixin dinp() {
    background: #dadbd6;
    border-radius: 50px !important;
    padding: 20px 10px !important;
    color: #fff;
    font-family: $go-li;
    font-size: 18px;
}

@mixin iphonex() {
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        @content;
    }
}

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace( str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face( $name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if( map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append( $src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin iPhone($device) {
    @if $device=="iphone" {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
    @if $device=="iphoneP" {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            @content;
        }
    }
    @if $device=="iphoneL" {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            @content;
        }
    }
}

@mixin iPhone5($device) {
    @if $device=="All" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
    @if $device=="P" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            @content;
        }
    }
    @if $device=="L" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            @content;
        }
    }
}

@mixin iPad() {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        @content;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');