.sports-archive-banner {
    background: $black;
    padding: 70px 0;

    .archive-title {
 
        color: $gold;
    }

    .archive-subtitle {
      
        color: $white;
        opacity: .85;
        font-size: 18px;
    }
}
